<div>
    <h1>Modifier un produit</h1>
    <br>
    <label class="control-label col-md-5">Nom de produit</label>
    <div class="col-md-5 col-xs-11">
      <input class="form-control"  
      type="text" value="{{produit.nom}}" [(ngModel)]="produit.nom">
    </div>
    <br>
    <label class="control-label col-md-5">Prix unitaire de produit</label>
    <div class="col-md-5 col-xs-11">
      <input class="form-control" 
      size="16" type="text" value="{{produit.prixUnitaire}}"  [(ngModel)]="produit.prixUnitaire">
    </div>

    <label class="control-label col-md-5">Quantité de produit</label>
    <div class="col-md-5 col-xs-11">
      <input class="form-control" 
      size="16" type="text" value="{{produit.quantite}}"  [(ngModel)]="produit.quantite">
    </div>

    <button  class="btn btn-primary" (click)="updateProduit()" style="margin-top: 3%;margin-left: 70%;" >Modifier </button>
    <button class="btn btn-primary" routerLink="/" style="margin-left: 80%% ;margin-top: 3%;" >Annuller </button>
</div>
